@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-fuchsia-50 transition-colors duration-300;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

@layer utilities {
  @keyframes drift-corner {
    0% {
      transform: translate(0, 0);
      opacity: 0.7;
    }

    100% {
      transform: translate(-40px, 40px);
      /* Move up and left */
      opacity: 0;
    }
  }

  .animate-drift-corner {
    animation: drift-corner 2s ease-in-out infinite;
  }
}

@layer utilities {
  .clip-path-card {
    clip-path: polygon(0 8%, 10% 0, 90% 0, 100% 8%, 100% 92%, 90% 100%, 10% 100%, 0 92%);
  }

  @keyframes shine {
    0% {
      transform: translateX(-100%) rotate(30deg);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translateX(200%) rotate(30deg);
      opacity: 0;
    }
  }

  .animate-shine {
    animation: shine 2s linear infinite;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.4s ease-out;
}